h1
{
	font-family: serif;
	color: darkgreen;
}

h2
{
	font-family: serif;
	color: darkgreen;
}

body
{
	background-color: beige;
}

.Carte
{
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #5c6e53;
	height: 500px;
	width: 350px;
	font-family: sans-serif;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.Trois
{
	display: flex;
	gap: 100px;
	padding: 50px;
	align-items: center;
	justify-content: center;

}

.Cinq
{
	gap:100px;
	display: flex;
	flex-direction: column;
	padding: 50px;
	justify-content: center;
	align-items: center;
}

p
{
	size: 3px;
}

.Image
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 10px;
}